{
  "project_id": "docker-203423",
  "source_image_family": "ubuntu-1604-lts",
  "machine_type": "n1-standard-1",
  "image_description": "Reddit docker monolit app",
  "disk_type": "pd-standard",
  "disk_size": "10",
  "network": "default",
  "tags": "'reddit'"
}
