# Packer
docker-monolith/infra/packer/variables.json

# Terraform
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/

# Ansible
*.retry
ansible/roles/jdauphant.nginx
ansible/roles/db
vault.key

.env
.idea